<div id="photo-wrapper" class="content">
			<div class="photo-container">
				<div class="photo">
				  <img class="side-a" src="assets/img/photos/1.jpg" alt="Dazzling Auroras over Earth">	
				  <div class="photo-desc side-b">
					  <h3>Dazzling Auroras</h3>
					  <p>Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
						<a href="#" class="button">download</a>
					</div>
				</div>
			</div>	

			<div class="photo-container">
				<div class="photo">
				  <img class="side-a" src="assets/img/photos/2.jpg" alt="International Space Station">	
				  <div class="photo-desc side-b">
					  <h3>The Space Station</h3>
					  <p>Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
						<a href="#" class="button">download</a>
					</div>
				</div>
			</div>	

			<div class="photo-container">
				<div class="photo">
				  <img class="side-a" src="assets/img/photos/3.jpg" alt="Planet Earth">	
				  <div class="photo-desc side-b">
					  <h3>Planet Earth</h3>
					  <p>Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
						<a href="#" class="button">download</a>
					</div>
				</div>
			</div>	
</div>