<div id="header">
	<h3>Thomas Joseph Greco a.k.a. SassmasterTG</h3>
	<p>
		Welcome to my web application! Below is a list of articles detailing my experiences with different technologies that I am fond of. By hovering over each post, you will see an excerpt for the post and decide whether you would like to read it or not!
	</p>
	<h4>Have a question for me? Contact me <a routerLink="/contact-me">here</a>!</h4>
</div>
<div id="full-page">
<div id="blog-card-wrapper" class="content">
			<div class="post-container" *ngFor="let post of posts$ | async" (click)="focused(post)">
				<div class="post">
				  <img class="side-a" [src]="post.img.source_url" [alt]="post.img.alt_text">	
				  <div class="post-desc side-b">
					                       <h3 [innerHtml]="post.title.rendered"></h3>
                      <p [innerHtml]="post.excerpt.rendered">
                     </p>
                  <button><a [routerLink]="post.id">
      Read More
    </a></button>    
					</div>
				</div>
			</div>	
</div>
</div>